---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<!--
<div class="posts">
  <article class="post">
    <h1 class="post-title">Welcome!</h1>
    <time class="post-date">2018-03-10</time>
    <p>My name is Jens Bäckbom and I am a venture capital investor working for Almi Invest in Stockholm, Sweden.
    I am currently working with seven of our portfolio companies: Learnster, Roaring.io, Lingio, EVAM Systems, Alva Labs, ZealID and Typelane.</p>

    <p>Before I started working at Almi Invest 2017 I was an entrepreneur for nine years, working with
    <a href="http://www.benchmarkingalliance.com/">Benchmarking Alliance</a> and
    <a href="http://www.a3j.se/">A3J Consulting</a>. I did everything from sales to system development (mainly Python/Django and various JS frameworks).</p>

    <p>I am a big fan of lifelong learning and see myself as a generalist rather than a specialist -
    I have an MSc degree in Engineering Physics and another one in Finance and I've written a book on common misjudgements and biases.</p>

    <p>Hopefully I'll be able to share some lessons here, more to come soon.</p>

    <p>Meanwhile, follow me on <a href="https://www.twitter.com/jensbackbom/">Twitter</a>.</p>

  </article>
</div>
-->
